@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    background: linear-gradient( 0.45turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 280px;
    padding: 0 8px 8px 8px;
    border-radius: 8px;
}

.timerContainer h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    align-self: start;
}

.timerContainer input {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    width: 60px;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 4px;
    text-align: right;
}

.timerContainer form.containerSecond>div {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
}

.timerContainer button {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    background-color: #a09e9e;
    width: 72px;
    height: 32px;
    cursor: pointer;
    margin-left: 4px;
    transition: 0.6s;
}

.timerContainer button:hover {
    background-color: #f69d3c;
}

.timerContainer button[disabled]:hover {
    background-color: #a09e9e;
}

section#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}